:root {
  --bg-top: rgba(0, 150, 136, 1);
  --bg-bottom: rgba(220, 219, 210, 1);
  --bg-search-bar: #fafafa;
  --bg-notification: #8edafc;
  --bg-header: #eaeaea;
}

/*# General */
a {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  color: currentColor;
}

/** Body */
body {
  height: 100vh;
  background: rgb(0, 150, 136);
  background: linear-gradient(var(--bg-top) 15%, var(--bg-bottom) 15%);
}

#wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#main-layout {
  height: 95vh;
  width: 80vw;
  background-color: white;

  display: flex;
}

/** General img */
img {
  height: 80px;
  max-width: 100%;
  border-radius: 50%;
  display: block;
}

/** General Header */
header {
  height: 90px;
  padding: 1rem;

  background-color: var(--bg-header);

  flex-shrink: 0;
  display: flex;
  align-items: center;

  border: 1px dashed black;
}

header .user {
  flex-basis: 75%;
}

header .user-icon {
  color: #c5bbb6;
  padding-right: 10px;

  flex: 1 0;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.user-icon a {
  font-size: 30px;
}

/*# Contatti */
aside {
  flex: 0 0 535px;
  height: 100%;
  display: flex;
  flex-direction: column;

  border: 1px dashed green;
}

/** Header Contacts */

/*? User Image */
img.user-img {
  height: 60px;
}

/** Notification */
.notification {
  flex-basis: 100px;
  background-color: var(--bg-notification);
  flex-shrink: 0;

  padding-left: 40px;
}

#bell-notification {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  background-color: white;
  border-radius: 50%;
}

#bell-notification i {
  color: var(--bg-notification);
}

.text-notification a {
  text-decoration: underline;
  color: rgb(50, 50, 50);
}
/** Search Bar */
.search-bar {
  flex-basis: 60px;
  flex-shrink: 0;

  background-color: var(--bg-search-bar);
}

/** Contacts */
.contacts {
  overflow: auto;
  flex-grow: 1;
  background-color: dodgerblue;
}

/*# Main */
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  border: 1px dashed black;
}

/** Chat Content */
.chat-content {
  flex-grow: 1;
  overflow: auto;
  background-image: url('../img/mine.jpg');
}

/** Text Area Message */
.input-area {
  height: 90px;
  flex-shrink: 0;

  border: 1px dashed black;
}
